* {
    margin: 0;
    padding: 0;
    
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    }
  

.header{
    display: flex;
    color: aliceblue;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    font-size: 25px;
    font-weight: extra-bold;
    justify-content: space-around;
   background-color: #00120B;
      }

.header h5{
    font-weight: 900;
}
     
.below_header{
    display: flex;
    justify-content: space-between;
    color: rgb(68, 98, 124);
    gap: 15px;
    font-size: 25px;
    background-color: #e5e7eb;
}

.below_header_two{
display: flex;
flex-direction: column;
background-color: #e5e7eb;
gap: 8px;
}



    .image_holder{
    background-color: #07090c;
}

.right_links{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-end;
      }



.main{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #35605A;
    font-style: italic;
    flex-grow: 1;
           
   }



.info{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: white;
    gap: 8px;
    border-color: #00120B;
    
    
   }

.info img{
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid #0099CC;
    border-radius: 10px;
}

.last{

justify-content: center;
align-items: center;
text-align: center;
border-color: #00120B;
border-radius: 5px;
background-color: #e5e7eb;
color: #1f2937;
font-size: 25px;
font-family: light, italic;

}

.ultimo_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    font-size: 30px;
    border-radius: 15px;
}

button{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;

   }

footer{
    display: flex;
    justify-content: center;
    background-color: #00120B;
    color: aliceblue;
    font-size: 20px;
}

